body {
    background: linear-gradient(to right, #000099 0%, #00ccff 100%);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

h1{
    font-size: 50px;
}

.date {
    position: relative;
    float: right;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    background-color: #000099;
    color: white;
}

table, th, td {
    border: 1px solid midnightblue;
    text-align: center;
}

th {
    width: 20%;
    font-size: 18px;
    padding: 10px;
}


tbody tr:nth-child(2n+1) {
    background-color: #28a6e6 ;
}

tbody tr:nth-child(2n+1):hover {
    background-color: white ;
}

tbody tr:hover {
    background-color: white;
    color: midnightblue;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
}



