body {
    background-color: midnightblue;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 50px;
}

 div{
    padding: 5px;
 }

section .flight{
    display: grid;
    grid-template: "num origin dest depart land";
    text-align: center;
}

/* .title  {
    text-align: center;
    border-bottom: 1px solid grey;
    display: grid;
    grid-template: "num origin dest depart land";
} */

h3 {
    margin: 0 auto;
}

.num {
    grid-area: 'num';
}

.origin {
    grid-area: 'origin';
}

.dest {
    grid-area: 'dest';
}

.depart {
    grid-area: 'depart';
}

.land {
    grid-area: 'land';
}
